<div class="container h-100 mt-5">
  <div class="row">
    <div class="col-9">
      <!-- Formulario -->
      <h1 class="text-left"><%= @brand.display_name %></h1>
      <h3 class="text-left"><%= @model.display_name %></h3>
      <%= render 'form' %>
      <!-- Fin formulario -->
    </div>
    <div class="col-3">
      <!-- Menú lateral -->

      <!-- Fin menú lateral -->
    </div>
  </div>
</div>