<div class="container h-100 mt-5">
  <div class="row">
    <div class="col-9">
      <!-- Formulario -->
      <h1 class="text-left"><%= t('brands.new') %></h1>
      <%= render 'form' %>
      <!-- Fin formulario -->
    </div>
    <div class="col-3">
      <!-- Menú lateral -->
      <%= go_back_link(brands_path) %>
      <!-- Fin menú lateral -->
    </div>
  </div>
</div>